# Dependencies
/node_modules
/.pnp
.pnp.js

# Angular build output
/dist
/.angular
/out-tsc

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!/.env.example
